.contact-container {
  background-color: #edefee;
  padding-top: 50px;
  padding-bottom: 50px;
}
.contact-container h2 {
  font-family: "Kaushan Script", cursive;
  font-size: 42px;
}

.contact-container h2 span {
  border-bottom: 4px solid white;
}
.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.contact-container label {
  font-size: 21px;
  font-weight: bold;
  display: block;
  font-family: "Gentium Plus", serif;
}
.contact-container input {
  margin-top: -20px;
  display: block;
  width: 70%;
  background-color: transparent;
  border: 2px solid white;
  height: 50px;
  font-size: 21px;
  font-family: "Gentium Plus", serif;
}
.contact-container textarea {
  margin-top: -20px;
  width: 70%;
  height: 150px;
  background-color: transparent;
  border: 2px solid white;
  font-size: 21px;
  font-family: "Gentium Plus", serif;
}
input[type="submit"] {
  font-size: 24px;
  background-color: white;
  font-weight: bolder;
  margin-top: 20px;
  width: 71%;
}
input[type="submit"]:hover {
  background-color: transparent;
}
.adress h4 {
  font-size: 28px;
  font-family: "Kaushan Script", cursive;
}
.flexible-contact {
  display: flex;
  align-items: center;
  gap: 50px;
}
.flexible-contact img {
  width: 40px;
  height: 40px;
}
.flexible-contact p {
  font-family: "Gentium Plus", serif;
  font-size: 21px;
  font-weight: bold;
  margin: 10px 0;
}
/* Responsive */

@media screen and (min-width: 601px) and (max-width: 992px) {
  .contact {
    grid-template-columns: repeat(1, 1fr);
  }
  .contact-container input {
    width: 90%;
  }
  .contact-container textarea {
    margin: auto;
    width: 90%;
  }
  input[type="submit"] {
    width: 91%;
  }
}
@media screen and (max-width: 600px) {
  .contact {
    grid-template-columns: repeat(1, 1fr);
  }
  .contact-container input {
    width: 90%;
  }
  .contact-container textarea {
    margin: auto;
    width: 90%;
  }
}
